@tailwind base;
@tailwind components;
@tailwind utilities;

.font-s{
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
  font-style: normal;
}

.font-t{
    font-family: "Noto Serif KR", serif;
    font-weight: 700;
    font-style: normal;
}

@keyframes gradient-x-three {
    0%, 100% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
  }
  
  .animate-pulse {
    background: linear-gradient(270deg, #ffffff, #add8e6, #03A9F4, #0000ff);
    background-size: 1400% 1400%;
    
    -webkit-animation: gradient-x-three 7s ease infinite;
    -moz-animation: gradient-x-three 7s ease infinite;
    animation: gradient-x-three 7s ease infinite;
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .none{
    visibility: hidden;
  }

  .my-tab {
    background-color: #f9fbfc;
    border-radius: 15px;
    position: relative;
  }
  
  .my-tab::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 4px solid #7dd3fc;
    border-left: 4px solid #7dd3fc;
    width: 50px;
    height: 50px;
    border-top-left-radius: 15px;
  }
  
  .my-tab::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #7dd3fc;
    border-right: 4px solid #7dd3fc;
    width: 50px;
    height: 50px;
    border-bottom-right-radius: 15px;
  }

  /* Stile scrollbar */
::-webkit-scrollbar {
  width: 0px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #add8e6; 
}

::-webkit-scrollbar-thumb {
  background: #7dd3fc; 
}

::-webkit-scrollbar-thumb:hover {
  background: #03A9F4; 
}


  