@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-x-three {
    0%, 100% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
  }
  
  .animate-pulse {
    background: linear-gradient(270deg, #ffffff, #add8e6, #03A9F4, #0000ff);
    background-size: 1400% 1400%;
    
    -webkit-animation: gradient-x-three 7s ease infinite;
    -moz-animation: gradient-x-three 7s ease infinite;
    animation: gradient-x-three 7s ease infinite;
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .none{
    visibility: hidden;
  }